@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #000;

}

.inicio {
    color: white;
    text-align: center;
}

#container {
    width: 600px;
    padding: 20px;
    margin: 100px auto 0;
}

h2 {
    color: white;
}

.sectionBody {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleBody {
    text-align: left;
}

.containerInput {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}


.espaçoTare {
    background-color: #9E9E9E;
    border-radius: 10px;
    width: 451px;
    height: 46px;
    outline: none;
}

.addTask {
    background-color: #1E1E1E;
    color: white;
    border-radius: 10px;
    padding: 0;
    width: 119px;
    height: 50px;
    cursor: pointer;
}

.containerList {
    width: 100%;
}

.listaTask {
    padding: 0;
    list-style: none;
}

.task {
    background-color: #1E1E1E;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    word-break: break-word;
    align-items: center;
    margin-top: 10px;
    padding: 5px;

}

.item {
    display: flex;
    gap: 5px;

}

.sectionButtom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

a {
    text-decoration: none;
}

.buttom {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}